{{ form_start(form, {'method': 'POST', 'class': 'form-horizontal', 'novalidate': 'novalidate' }) }}
	<div class="form-body">
		<div class="row">
			<div class="col-12 col-md-4">
				<div class="form-group">
					<label> {{ form_label(form.name, 'Full Name') }} <span class="">*</span></label>
					<div class="controls">
						{{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
					</div>
				</div>

				{% if (form_errors(form.name)) %}
					<span class="danger"> {{ form_errors(form.name) }} </span>
				{% endif %}
			</div>

			<div class="col-12 col-md-4">
				<div class="form-group">
					<label> {{ form_label(form.email, 'Email') }} <span class="">*</span></label>
					<div class="controls">
						{{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
					</div>
				</div>

				{% if (form_errors(form.email)) %}
					<span class="danger"> {{ form_errors(form.email) }} </span>
				{% endif %}
			</div>
			
			<div class="col-12 col-md-4">
				<div class="form-group">
					<label> {{ form_label(form.password, 'Password') }} <span class="">*</span></label>
					<div class="controls">
						{{ form_widget(form.password, {'attr': {'class': 'form-control'}}) }}
					</div>
				</div>

				{% if (form_errors(form.password)) %}
					<span class="danger"> {{ form_errors(form.password) }} </span>
				{% endif %}
			</div>
		</div>		
		<div class="row">
			<div class="col-12 col-md-4">
				<div class="form-group">
					<label> {{ form_label(form.type, 'User Type') }} <span class="">*</span></label>
					<div class="controls">
						{{ form_widget(form.type, {'attr': {'class': 'form-control'}}) }}
					</div>
				</div>

				{% if (form_errors(form.type)) %}
					<span class="danger"> {{ form_errors(form.type) }} </span>
				{% endif %}
			</div>

			<div class="col-12 col-md-4">
				<div class="form-group">
					<label> {{ form_label(form.status, 'Status') }} <span class="">*</span></label>
					<div class="controls">
						{{ form_widget(form.status, {'attr': {'class': 'form-control'}}) }}
					</div>
				</div>

				{% if (form_errors(form.status)) %}
					<span class="danger"> {{ form_errors(form.status) }} </span>
				{% endif %}
			</div>

			<div class="col-12 col-md-4">
				<div class="form-group">
					<label> {{ form_label(form.profile_photo, 'Profile Photo') }}</label>
					<div class="controls">
						{{ form_widget(form.profile_photo, {'attr': {'class': 'form-control'}}) }}
					</div>
				</div>

				{% if (form_errors(form.profile_photo)) %}
					<span class="danger"> {{ form_errors(form.profile_photo) }} </span>
				{% endif %}
			</div>
		</div>

		<div class="row">
			<div class="form-actions col-12">
				<div class="text-center pull-right" style="padding: 20px;">
					<a href="{{ path('user_index') }}">
						<button type="button" class="btn btn-sm btn-danger mr-1" data-dismiss="modal" tabindex="10">
							<i class="la la-close"></i> Cancel
						</button>
					</a>
					<button type="submit" class="btn btn-sm btn-success" tabindex="11">
						<i class="la la-check-square-o"></i> Save
					</button>
				</div>
			</div>
		</div>
	</div>
{{ form_end(form) }}
