{% extends 'base.html.twig' %}

{% block title %}Jobs{% endblock %}

{% block body %}

{% include '/home/job_search_bar.html.twig' %}

{# {{ dump(categories) }} #}
<div class="col-md-12">
    <div class="example-wrapper">
        {# <table class="table table-hover table-bordered">
            <thead>
                <tr class="text-white bg-secondary">
                    <th>Location</th>
                    <th>Position</th>
                    <th>Company</th>
                </tr>
            </thead>
            <tbody>
            {% for job in jobs %}
                <tr>
                    <td>{{ job.location }}</td>
                    <td>{{ job.position }}</td>
                    <td>{{ job.companyName }}</td>
                <tr>
            {% endfor %}
            </tbody>
        </table> #}
        {# {% for category in categories %} #}
            <table class="table table-hover table-bordered">
                <thead>
                    <tr class="text-white bg-dark">
                        <th colspan="4"> {{ categories[0].category.name }}  <a href="#" class="float-right"><i class="fa fa-rss-square text-light" aria-hidden="true"></i></a></th>
                    </tr>
                    <tr class="text-white bg-secondary">
                        <th>Location</th>
                        <th>Position</th>
                        <th>Company</th>
                        <th>View</th>
                    </tr>
                </thead>
                <tbody>
                {% for job in categories %}
                    <tr>
                        <td>{{ job.location }}</td>
                        <td>{{ job.position }}</td>
                        <td>{{ job.companyName }}</td>
                        <td><a href="{{ path('job_details', {'id': job.id}) }}"> <i class="fa fa-eye"></i> </a></td>
                    <tr>
                {% endfor %}
                </tbody>
            </table>
        {# {% else %}
            <h6>There are no data.</h6>
        {% endfor %} #}
        <h1>Total ({{ categories.getTotalItemCount }})</h1>
        <div class="dataTables_paginate paging_simple_numbers" id="dataTables-example_paginate">
            {{ knp_pagination_render(categories) }}
        </div>

        <a href="{{ path('home_index') }}" class="text-danger"> <i class="fa fa-arrow-left"></i> back</a>
        
    </div>
</div>

{% endblock %}
