{% extends 'admin.html.twig' %}

{% block title %}JobPost{% endblock %}

{% block body %}
    <div class="col-lg-12">
        <h1 class="page-header">Job Post View</h1>
    </div>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ job_post.id }}</td>
            </tr>
            <tr>
                <th>Company_name</th>
                <td>{{ job_post.companyName }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ getJobType[job_post.type] }}</td>
            </tr>
            <tr>
                <th>Position</th>
                <td>{{ job_post.position }}</td>
            </tr>
            <tr>
                <th>Location</th>
                <td>{{ job_post.location }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ job_post.description }}</td>
            </tr>
            <tr>
                <th>Logo</th>
                <td>{{ job_post.logo }}</td>
            </tr>
            <tr>
                <th>Total_applied</th>
                <td>{{ job_post.totalApplied }}</td>
            </tr>
            <tr>
                <th>Total_view</th>
                <td>{{ job_post.totalView }}</td>
            </tr>
            <tr>
                <th>Poster_email</th>
                <td>{{ job_post.posterEmail }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ getStatus[job_post.status] }}</td>
            </tr>
        </tbody>
    </table>
    
    <a href="{{ path('job_post_index') }}" class="text-danger"> <i class="fa fa-arrow-left"></i> back to list</a>    

{% endblock %}
