{% extends 'base.html.twig' %}

{% block title %}JobPost{% endblock %}

{% block body %}
    <h1>JobPost</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ job_post.id }}</td>
            </tr>
            <tr>
                <th>Company_name</th>
                <td>{{ job_post.companyName }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ job_post.type }}</td>
            </tr>
            <tr>
                <th>Position</th>
                <td>{{ job_post.position }}</td>
            </tr>
            <tr>
                <th>Location</th>
                <td>{{ job_post.location }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ job_post.description }}</td>
            </tr>
            <tr>
                <th>Logo</th>
                <td>{{ job_post.logo }}</td>
            </tr>
            <tr>
                <th>Total_applied</th>
                <td>{{ job_post.totalApplied }}</td>
            </tr>
            <tr>
                <th>Total_view</th>
                <td>{{ job_post.totalView }}</td>
            </tr>
            <tr>
                <th>Poster_email</th>
                <td>{{ job_post.posterEmail }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ job_post.status }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('job_post_index') }}">back to list</a>

    <a href="{{ path('job_post_edit', {'id': job_post.id}) }}">edit</a>

    {{ include('job_post/_delete_form.html.twig') }}
{% endblock %}
