{% extends 'admin/layout.html.twig' %}

{% block title %} Category List {% endblock %}
{% block pagename %} Category List {% endblock %}

{% block breadcrumb %} 
	<li class="breadcrumb-item"><a href="{{ path('admin_index') }}">Dashboard</a></li>
	<li class="breadcrumb-item active">Category details</li>
{% endblock %}

{% block content %} 
	<div class="content-body">
        <section id="pagination">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <a class="text-white" href="{{ path('category_new') }}">
                                <button type="button" class="btn btn-round btn-sm btn-primary">
                                    <i class="ft-plus text-white">
                                    </i> Create New
                                </button>
                            </a>
                            <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                            <div class="heading-elements">
                                <ul class="list-inline mb-0">
                                    <li><a data-action="collapse"><i class="btn-outline-warning ft-minus"></i></a></li>
                                    <li><a data-action="reload"><i class="btn-outline-primary ft-rotate-cw"></i></a></li>
                                    <li><a data-action="expand"><i class="btn-outline-success ft-maximize"></i></a></li>
                                    <li><a data-action="close"><i class="btn-outline-danger ft-x"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="card-content collapse show">
                            <div class="card-body card-dashboard text-center">
                                <div class="table-responsive">
                                    <table class="table display nowrap table-striped table-bordered alt-pagination"
                                           id="patient-table">
										<tbody>
											<tr>
												<th>Id</th>
												<td>{{ category.id }}</td>
											</tr>
											<tr>
												<th>Name</th>
												<td>{{ category.name }}</td>
											</tr>
											<tr>
												<th>Status</th>
												<td>{{ category.status }}</td>
											</tr>
											<tr>
												<th>Created_by</th>
												<td>{{ category.createdBy }}</td>
											</tr>
											<tr>
												<th>Edited_by</th>
												<td>{{ category.editedBy }}</td>
											</tr>
											<tr>
												<th>Deleted_by</th>
												<td>{{ category.deletedBy }}</td>
											</tr>
											<tr>
												<th>Created_at</th>
												<td>{{ category.createdAt ? category.createdAt|date('Y-m-d H:i:s') : '' }}</td>
											</tr>
											<tr>
												<th>Edited_at</th>
												<td>{{ category.editedAt ? category.editedAt|date('Y-m-d H:i:s') : '' }}</td>
											</tr>
											<tr>
												<th>Deleted_at</th>
												<td>{{ category.deletedAt ? category.deletedAt|date('Y-m-d H:i:s') : '' }}</td>
											</tr>
										</tbody>
									</table>
								</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>    
{% endblock %}

{% block javascripts %}
	{{  parent()  }}
{% endblock %}
