{% extends 'base.html.twig' %}
{# START: Head #}
{% block meta %}

	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="Modern admin is super flexible, powerful, clean &amp; modern responsive bootstrap 4 admin template with unlimited possibilities with bitcoin dashboard.">
    <meta name="keywords" content="admin template, modern admin template, dashboard template, flat admin template, responsive admin template, web app, crypto dashboard, bitcoin dashboard">
    <meta name="author" content="PIXINVENT">
	<link rel="apple-touch-icon" href="{{ asset('admin/images/ico/apple-icon-120.png') }}">
    <link rel="shortcut icon" type="image/x-icon" href="{{ asset('admin/images/ico/favicon.ico') }}">

{% endblock %}

{% block title %} Admin Login {% endblock %}

{% block topjsscripts %}
    {{  parent()  }}
{% endblock %}

{% block stylesheets %}
    {{  parent()  }}
	{# BEGIN: Vendor CSS #}
	<link rel="stylesheet" type="text/css" href="{{ asset('admin/vendors/css/vendors.min.css') }}">
	{# END: Vendor CSS #}

	{# BEGIN: Theme CSS #}
	<link rel="stylesheet" type="text/css" href="{{ asset('admin/css/bootstrap.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ asset('admin/css/bootstrap-extended.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ asset('admin/css/colors.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ asset('admin/css/components.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ asset('admin/vendors/css/forms/icheck/icheck.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ asset('admin/vendors/css/forms/icheck/custom.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ asset('admin/css/core/colors/palette-gradient.css') }}">
	{# END: Theme CSS #}
	<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
	{# BEGIN: Custom CSS #}
	{# <link rel="stylesheet" type="text/css" href="../../../assets/css/style.css"> #}
	{# END: Custom CSS #}
{% endblock %}
{# END: Head #}

{% block body_class 'vertical-layout vertical-menu-modern 1-column  bg-cyan bg-lighten-2 blank-page' %}
{# BEGIN: Header #}
{% block header %}
	
{% endblock %}
{# END: Header #}

{# BEGIN: Left sidebar #}
{% block left_sidebar %}
	
{% endblock %}
{# END: Left sidebar #}

{# BEGIN: Body #}
{% block body %}
	<div class="app-content content">
		<div class="content-overlay"></div>
		<div class="content-wrapper">
			<div class="content-header row"> </div>
			<div class="content-body">
				<section class="row flexbox-container">
					<div class="col-12 d-flex align-items-center justify-content-center">
						<div class="col-lg-4 col-md-8 col-10 box-shadow-2 p-0">
							<div class="card border-grey border-lighten-3 m-0">
								<div class="card-header border-0">
									{% if error %}
										<div class="alert alert-danger">
											{{ error.messageKey|trans(error.messageData, 'security') }}
										</div>
									{% endif %}

									{# <div class="card-title text-center">
										<div class="p-1"><img height="80" width="80" src="{{url('app-assets/images/logo/bd-police-logo.jpg')}}" alt="branding logo"></div>
									</div> #}

									{% if app.user %}
										<div class="alert alert-danger">
											<ul>
												<li>You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a></li>
											</ul>
										</div>
									{% endif %}									
									<h6 class="card-subtitle line-on-side text-muted text-center font-small-3 pt-2"><span>Login Details</span></h6>
								</div>
								<div class="card-content">
									<div class="card-body pt-0">
										<form class="form-horizontal" method="post">	
											<fieldset class="form-group floating-label-form-group">
												<label for="user-email">Email</label>
												<input type="email" class="form-control" name="email" placeholder="Your Email" required autofocus>
											</fieldset>

											<fieldset class="form-group floating-label-form-group mb-1">
												<label for="user-password">Password</label>
												<input type="password" class="form-control" name="password" placeholder="Enter Password" required>
											</fieldset>	

											<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />	

											<button type="submit" class="btn btn-outline-info btn-block"><i class="ft-unlock"></i> Login</button>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
			</div>
		</div>
	</div>
{% endblock %}
{# END: Body #}

{# BEGIN: Footer #}
{% block footer %}
	
{% endblock %}
{# END: Footer #}

{# BEGIN: JavScripts #}
{% block javascripts %}
	{# <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script> #}
	{# BEGIN: Vendor JS #}
	<script src="{{ asset('admin/vendors/js/vendors.min.js') }}"></script>
	{# BEGIN Vendor JS #}
{% endblock %} 
{# END: JavScripts #}
