{% extends 'base.html.twig' %}

{% block title %}SystemConfig{% endblock %}

{% block body %}
    <h1>SystemConfig</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ system_config.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ system_config.name }}</td>
            </tr>
            <tr>
                <th>Config_name</th>
                <td>{{ system_config.configName }}</td>
            </tr>
            <tr>
                <th>Config_value</th>
                <td>{{ system_config.configValue }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('system_config_index') }}">back to list</a>

    <a href="{{ path('system_config_edit', {'id': system_config.id}) }}">edit</a>

    {{ include('system_config/_delete_form.html.twig') }}
{% endblock %}
