{% extends 'admin.html.twig' %}

{% block title %}Job Express :: Dashboard!{% endblock %}

{% block body %}

<div class="example-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Dashboard</h1>

        </div>

    </div>

    <div class="row">
        <div class="col-lg-4 col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-tasks fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{ job.total_job ? job.total_job : 0 }}</div>
                            <div>Total Jobs</div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="panel panel-green">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-tag fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{ job.total_apply ? job.total_apply : 0 }}</div>
                            <div>Total Applied</div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="panel panel-red">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-eye fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{ job.total_view ? job.total_view : 0 }}</div>
                            <div>Total View</div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Job Posting Trend
                </div>
                <div class="panel-body">
                    <div class="flot-chart">
                        <div id="chartContainer" style="height: 370px; width: 100%;"></div>
                    </div>
                </div>
        
            </div>
        
        </div>
        
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Top Categories
                </div>
                <div class="panel-body">
                    <div id="chartContainerPie" style="height: 400px; width: 100%;"> </div>
                </div>

            </div>

        </div>

    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Recent Job
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <table class="table table-hover table-bordered">
                        <thead class="bg-success">
                            <tr>
                                <th>Location</th>
                                <th>Position</th>
                                <th>Company Name</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for job_post in job_posts %}
                            <tr>
                                <td>{{ job_post.location }}</td>
                                <td>{{ job_post.position }}</td>
                                <td>{{ job_post.companyName }}</td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="12">no records found</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>


</div>

<script>
window.onload = function () {

var options = {
    animationEnabled: true,
    theme: "light2",
    title:{
        text: ""
    },
    axisY: {
        title: "Revenue (in Pound Sterling)",
        valueFormatString: "#0",
        includeZero: true,
        suffix: "K",
        prefix: "£"
    },
    legend: {
        cursor: "pointer",
        itemclick: toogleDataSeries
    },
    toolTip: {
        shared: true
    },
    data: [{
        type: "area",
        name: "London",
        markerSize: 5,
        showInLegend: true,
        xValueFormatString: "MMMM",
        yValueFormatString: "£#0K",
        dataPoints: [
            { x: new Date(2017, 0), y: 100 },
            { x: new Date(2017, 1), y: 15 },
            { x: new Date(2017, 2), y: 12 },
            { x: new Date(2017, 3), y: 17 },
            { x: new Date(2017, 4), y: 20 },
            { x: new Date(2017, 5), y: 21 },
            { x: new Date(2017, 6), y: 24 },
            { x: new Date(2017, 7), y: 19 },
            { x: new Date(2017, 8), y: 22 },
            { x: new Date(2017, 9), y: 25 },
            { x: new Date(2017, 10), y: 21 },
            { x: new Date(2017, 11), y: 19 }
        ]
    }, {
        type: "area",
        name: "Manchester",
        markerSize: 5,
        showInLegend: true,
        yValueFormatString: "£#0K",
        dataPoints: [
            { x: new Date(2017, 0), y: 8 },
            { x: new Date(2017, 1), y: 12 },
            { x: new Date(2017, 2), y: 9 },
            { x: new Date(2017, 3), y: 11 },
            { x: new Date(2017, 4), y: 15 },
            { x: new Date(2017, 5), y: 12 },
            { x: new Date(2017, 6), y: 13 },
            { x: new Date(2017, 7), y: 9 },
            { x: new Date(2017, 8), y: 7 },
            { x: new Date(2017, 9), y: 14 },
            { x: new Date(2017, 10), y: 18 },
            { x: new Date(2017, 11), y: 14 }
        ]
    }]
};
$("#chartContainer").CanvasJSChart(options);

function toogleDataSeries(e) {
    if (typeof (e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
        e.dataSeries.visible = false;
    } else {
        e.dataSeries.visible = true;
    }
    e.chart.render();
}

// PIE chart
var pie_chart_data = "";
var url = "{{ path('chart_job_post_trend') }}";
$(document).ready(function(){
    $.ajax({
        url: url,
        context: document.body
        }).done(function(result) {
            
            var options = {
            data: [{
                    type: "pie",
                    startAngle: 45,
                    showInLegend: "true",
                    legendText: "{label}",
                    indexLabel: "{label} ({y})",
                    yValueFormatString:"#,##0.#"%"",
                    /*dataPoints: [
                        { label: "Organic", y: 36 },
                        { label: "Email Marketing", y: 31 },
                        { label: "Referrals", y: 7 },
                        { label: "Twitter", y: 7 },
                        { label: "Facebook", y: 6 },
                        { label: "Google", y: 10 },
                        { label: "Others", y: 3 }
                    ]*/
                    dataPoints: result.data
            }]
        };
        $("#chartContainerPie").CanvasJSChart(options);
    });
})


}
</script>
{% endblock %}
